:root {
	--box: 30vw;
	--input: 20vw;
	--padding: 5vh 5vw 5vh 5vw;
}

@font-face {
  font-family: arial;
  src: url(arial.ttf);
}

#barralateral.show { left: 0; }

#btnchamado, #btnfeedback {
	color: white;
	border-radius: 8px;
	background-color: #265CFF;
	border: none;
	padding: 0px 50px 0px 50px;
	float: right;
}

#nav {
	background-color: #265CFF;
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	z-index: 10;
}

#nomeusr, .titulo { font-weight: bold; }

#opcoes {
	background-color: #c2c2c2bf;
	margin-right: 2px;
	height: 100vh;
}

a { cursor: default; }

body {
	overflow-x: hidden;
	overflow-y: auto;
	font-family: arial;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

form { text-align: left; }

input {
	border: solid 1px gray;
	border-radius: 8px;
	outline: none;
	user-select: text;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

textarea {
	border: solid 1px gray;
	border-radius: 8px;
	height: 50vh;
	width: 100%;
	resize: none;
	outline: none;
	user-select: text;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
}

.barralateral {
	position: fixed;
	top: 0;
	left: -370px;
	z-index: 2;
	display: none;
	background-color: #c2c2c2;
	height: 100vh;
	width: 370px;
	padding-top: 85px;
	border-right: solid 2px gray;
	transition: left 0.3s ease;
	
	& input {
		margin: 15px 15px 0px 50px;
		text-align: center;
	}

	& input::placeholder { text-align: center; }
}

.barralateralbg {
	position: fixed;
	top: 0;
	right: 0;
	display: none;
	z-index: 1;
	width: 100vw;
	height: 100vh;
	background-color: #424242ef;
}

.box {
	border: solid 1px gray;
	border-radius: 15px;
	background-color: #c2c2c2;
	max-width: var(--box);
	padding: var(--padding);
	margin: 10px 0px 0px 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	
	& a {
		color: purple;
		text-decoration: underline;
	}
	
	& button {
		position: absolute;
		bottom: 20px;
		right: 20px;
		border: solid 1px gray;
		border-radius: 8px;
		margin: 0px;
		padding: 0px 15px 0px 15px;
	}

	& input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="number"] {
		position: relative;
		border: solid 1px gray;
		border-radius: 8px;
		width: var(--input);
	}
	
	& label { font-weight: bold; }
}

.campos { margin: 0 25% 0 25%; }

.chamados {
	height: 70vh;
	width: 100%;
	background-color: #c2c2c2;
	border-radius: 15px;
	margin-bottom: 15px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0px 0px 15px 0px;
	
	& ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	& li {
		padding-left: 10px;
		display: inline;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
	}

	& li div{
		margin: auto;
	}

	& li:hover {
		background-color: #A6A6A6;
		color: white;
	}
}

.confirmar { & li { grid-template-columns: repeat(6, 1fr); } }

.corpo {
	position: fixed;
	margin: 60px 0px 20px 0px;
	padding: 10px 6% 0px 6%;
	width: 100%;
	height: calc(100% - 60px);
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 0;
}
.fechar {
	top: 15px;
	height: 22px;
	width: 22px;
	text-align: center;
	padding: 0px 0px 0px 0px !important;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 0.4fr 1fr 1fr 1fr;
	justify-content: center;
	align-items: center;
	grid-column-gap: 6%;
	grid-row-gap: 2%;
}

.grid_item {
	
	text-align: center;
	font-size: 1.5em;
	display: block;
	height: 2.5vh;
	width: 25vw;
	min-width: 235px;

	& p {
		margin: 0;
		color: #565656;
		font-weight: bold;
	}
}

.tile {
	background-color: #c2c2c2;
	border-radius: 15px;
	background-repeat: no-repeat;
	background-size: 45% 45%;
	background-position: top 30% right 50%;
	height: 27vh !important;
	min-height: 224.5px;

	& p {
		position: relative;
		top: 60%;
		margin: 15px 0px 15px 0px !important;
	}
}

.grid_item:nth-child(4) { background-image: url('../img/dutos.svg'); }
.grid_item:nth-child(5) { background-image: url('../img/importunacao.svg'); }
.grid_item:nth-child(6) { background-image: url('../img/notificar.svg'); }
.grid_item:nth-child(7) { background-image: url('../img/iluminacao.svg'); }
.grid_item:nth-child(8) { background-image: url('../img/limpeza.svg'); }
.grid_item:nth-child(9) { background-image: url('../img/mais.svg'); }
.grid_item:nth-child(10) { background-image: url('../img/via.svg'); }
.grid_item:nth-child(11) { background-image: url('../img/fiacao.svg'); }
.grid_item:nth-child(12) { background-image: url('../img/sugestoes.svg'); }

.hidden { display: none; }

.input-container {
	display: flex;
	align-items: center;
}

.input-container label {
	margin-right: 15px;
}

.input-container input {
	flex: 2;
}

.menu {
	font-size: 22pt !important;
	display: inline-block !important;
	margin: 8px 0px 0px 20px !important;
}

.menubottom {
	position: absolute;
	width: 370px;
	left: 0;
	bottom: 20px;
	
	& a { text-decoration: underline; }
}

.navusr {
	display: inline-block;
	float: right;
	margin: 10px 5vw 0px 0px;
	height:44px;
	width: 370px;
	
	& img {
		float: right;
		height: 40px;
		width: 40px;
		margin-right: 15px;
	}

	& h5 {
		float: right;
		margin-top: 8px;
	}

}

.texto {
	padding-left: 5px !important;
	cursor: pointer;
}

.usr {
	width: 150px;
	height: 150px;
	overflow: hidden;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}