<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>De Olho no Condomínio</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/css.css')}}" />
		<link rel="icon" type="image/png" href="{{url_for('static',filename='img/fav.png')}}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{url_for('static',filename='css/W3.css')}}">
		<link rel="stylesheet" href="{{url_for('static',filename='css/FontAwesome4.7.0.css')}}">
		<meta charset="UTF-8">
		<script src="{{url_for('static',filename='js/jquery-3.7.0.js')}}"></script>
		<script src="{{url_for('static',filename='js/js.js')}}"></script>
		<script>
			function home(){
				var UsTipo = "{{ usu.tipo }}";
	
				if (UsTipo == '1'){
					window.location.href = '/chamados';
				}else{
					window.location.href = '/home';
				}
			}

			function direciona(){
				var UsTipo = "{{ usu.tipo }}";
				
				if (UsTipo == '1'){
					window.location.href = '/confirmar';
				}else{
					window.location.href = '/chamados';
				}
			}

			function btndireciona(){
				var UsTipo = "{{ usu.tipo }}";
				var botao = document.getElementById('btnchamados');
	
				if (UsTipo == '1'){
					botao.innerText = 'Cadastros';
				}
			}
			window.onload = btndireciona;

			document.addEventListener("DOMContentLoaded", function() {
				const imgs = document.querySelectorAll(".usr");
				const usrname = "{{ usu.nome_completo }}"; 

				function hashString(str) {
					let hash = 0;
					for (let i = 0; i < str.length; i++) {
						hash = (hash << 5) - hash + str.charCodeAt(i);
						hash |= 0;
					}
					return hash;
				}
				const hash = hashString(usrname);
				const number = (Math.abs(hash) % 6) + 1;

				imgs.forEach(img => {
					const currentSrc = img.getAttribute("src");
					const newSrc = currentSrc.replace(/(\d+)\.jpg/, `${number}.jpg`);
					img.setAttribute("src", newSrc);
				});
			});
		</script>
	</head>
	<body>
		<div id="nav">
			<i class="fa fa-bars menu" id="toggleButton"></i>
			<a onclick="home()"><p class="menu texto">De Olho no Condomínio</p></a>
			<div class="navusr">
				<a onclick="logoff()">
					<h5>{{ usu.nome_completo }}</h5>
					<img class="usr" src="{{ url_for('static', filename='img/6.jpg') }}">
				</a>
			</div>
		</div>
		<div class="barralateral">
			<div class="brins">
				<center>
				<h3>Gerenciar Perfil</h3>
				<br>
				<img class="usr" src="../static/img/6.jpg">
				<h4 id="nomeusr">{{ usu.nome_completo }}</h4>
				<h4 id="ap">{{ usu.endereco }}</h4>
				<form id="edteml" action="/ema?idU={{usu.id}}" method="POST">
					<input id="email" type="email" name="ema" placeholder="email@email.com" value="{{ usu.email }}" autocomplete="off" readonly><a id="editaemail" onclick="editaremail()">Editar</a>
				</form>
				<form id="edttel" action="/tel?idU={{usu.id}}" method="POST">
					<input type="tel" class="form-control" id="tel" name="tel" maxlength="15" pattern="\(\d{2}\)\s*\d{5}-\d{4}" placeholder="(99)99999-9999" value="{{ usu.telefone }}" autocomplete="off" readonly><a id="editatel" onclick="editartel()">Editar</a>
				</form>
				<div class="menubottom" style="box-sizing: content-box; margin-top: 230px;">
					<div id="opcoes" class="hidden">
						<form id="pwdedt" action="/pas?idU={{usu.id}}" method="POST" style="box-sizing: content-box;">
							<center>
								<input id="senhaant" name="senhaant" type="password" placeholder="Senha antiga">
								<br>
								<input id="senhanov" name="senhanov" type="password" placeholder="Nova senha">
								<br>
								<input id="senhaconf" name="senhaconf" type="password" placeholder="Confirme a senha">
							</center>
							<br>
							<div style="display: inline-block; width: 320px; margin: 0 10px;">
								<div style="float: left; width: 45%;">
									<button id="cancelar" style="width: 100%;">Cancelar</button>
								</div>
								<div style="float: right; width: 45%;">
									<button id="confirmar" style="width: 100%;" onclick="valida()">Confirmar</button>
								</div>
							</div>
							<br>
							<br>
						</form>
					</div>
					<div id="altse" style="padding-top: 55px;">
						<center>
							<button onclick="direciona()" id="btnchamados">Chamados</button>
							<br>
							<button id="alterar">Alterar senha</button>
							<br>
							<button onclick="excluir()">Excluir perfil</button>
							<br>
							<br>
						</center>
					</div>
				</div>
			</div>
		</div>
		<div class="barralateralbg">
		</div>
		<div class="corpo">
			<center>
				<h4 class="titulo">Chamados</h4>
			</center>
			<h4 style="margin: 40px 0px 8px 15px;">Meus Chamados</h4>
			<div class="chamados">
				<ul>
					<li style="background-color: gray; color: white;">
						<div>Nome:</div>
						<div>Descrição:</div>
						<div>Unidade:</div>
						<div>Data:</div>
						<div>Tipo:</div>
						<div>Situação:</div>
					</li>
					{% for documento in chamados %}
					<a href="/{{documento.tipo}}?var={{documento.id}}">
					<li>
						<div>{{ documento.autor }}</div>
						<div>{{ documento.descricao }}</div>
						<div>{{ documento.local }}</div>
						<div>{{ documento.data }}</div>
						<div>{{ documento.tipo }}</div>
						<div>{{ documento.situacao}}</div>
					</li>
					</a>
					{% endfor %}
				</ul>
			</div>
		</div>
	</body>
</html>
