<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>De Olho no Condomínio</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/css.css') }}">
		<link rel="icon" type="image/png" href="{{url_for('static',filename='img/fav.png')}}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{url_for('static',filename='css/W3.css')}}">
		<link rel="stylesheet" href="{{url_for('static',filename='css/FontAwesome4.7.0.css')}}">
		<meta charset="UTF-8">
		<script src="{{url_for('static',filename='js/jquery-3.7.0.js')}}"></script>
		<script src="{{url_for('static',filename='js/js.js')}}"></script>
		<script>
			function home(){
				var UsTipo = "{{ usu.tipo }}";
	
				if (UsTipo == '1'){
					window.location.href = '/chamados';
				}
			}
			window.onload = home;

			document.addEventListener("DOMContentLoaded", function() {
				const imgs = document.querySelectorAll(".usr");
				const usrname = "{{ usu.nome_completo }}"; 

				function hashString(str) {
					let hash = 0;
					for (let i = 0; i < str.length; i++) {
						hash = (hash << 5) - hash + str.charCodeAt(i);
						hash |= 0;
					}
					return hash;
				}
				const hash = hashString(usrname);
				const number = (Math.abs(hash) % 6) + 1;

				imgs.forEach(img => {
					const currentSrc = img.getAttribute("src");
					const newSrc = currentSrc.replace(/(\d+)\.jpg/, `${number}.jpg`);
					img.setAttribute("src", newSrc);
				});
			});
		</script>
	</head>
	<body>
		<div id="nav">
			<i class="fa fa-bars menu" id="toggleButton"></i>
			<a onclick="home()"><p class="menu texto">De Olho no Condomínio</p></a>
			<div class="navusr">
				<a onclick="logoff()">
					<h5>{{ usu.nome_completo }}</h5>
					<img class="usr" src="../static/img/6.jpg">
				</a>
			</div>
		</div>
		<div class="barralateral">
			<center>
			<h3>Gerenciar Perfil</h3>
			<br>
			<img class="usr" src="../static/img/6.jpg">
			<h4 id="nomeusr">{{usu.nome_completo}}</h4>
			<h4 id="ap">{{ usu.endereco }}</h4>
			<input id="email" type="email" placeholder="email@email.com" value="{{ usu.email }}" autocomplete="off" readonly>
			<br>
			<br>
			<input type="tel" class="form-control" id="tel" name="tel" maxlength="15" pattern="\(\d{2}\)\s*\d{5}-\d{4}" placeholder="(99)99999-9999" value="{{ usu.telefone }}" autocomplete="off" readonly>
			<div class="menubottom">
				<div id="opcoes" class="hidden">
					<div style="position: fixed; bottom: 30px;">
						<form>
							<input id="senhaant" type="password" style="margin: 0px 0px 0px 50px;" placeholder="Senha antiga" required>
							<br>
							<input id="senhanov" type="password" style="margin: 15px 0px 0px 50px;" placeholder="Nova senha" required>
							<br>
							<input id="senhaconf" type="password" placeholder="Confirme a senha" required><a id="confirmar" style="text-decoration: none;">Confirmar</a>
							<br>
							<br>
						</form>
						<a id="cancelar">Cancelar</a>
					</div>
				</div>
				<div id="altse">
					<center>
						<a href="/chamados">Chamados</a>
					</center>
				</div>
			</div>
		</div>
		<div class="barralateralbg">
		</div>
		<div class="corpo">
			<center>
				<div class="grid">
					<div class="grid_item"><P>Reparo</P></div>
					<div class="grid_item"><P>Reclamação</P></div>
					<div class="grid_item"><P>Solicitação</P></div>
					<div class="grid_item tile" onclick="location.href='/dutos'">
						<p>Reparo de Dutos</p>
					</div>
					<div class="grid_item tile" onclick="location.href='/formulario'">
						<p>Importunação do Sossego</p>
					</div>
					<div class="grid_item tile" onclick="location.href='/solicitar'">
						<p>Notificar Portaria</p>
					</div>
					<div class="grid_item tile" onclick="location.href='/ilum'">
						<p>Reparo de Iluminação</p>
					</div>
					<div class="grid_item tile" onclick="location.href='/limp'">
						<p>Limpeza</p>
					</div>
					<div class="grid_item tile" onclick="location.href='/other'">
						<p>Outras Solicitações</p>
					</div>
					<div class="grid_item tile" onclick="location.href='/via'">
						<p>Reparo de Via</p>
					</div>
					<div class="grid_item tile" onclick="location.href='/fia'">
						<p>Queda de Fiação</p>
					</div>
					<div class="grid_item tile" onclick="location.href='/sugestao'">
						<p>Sugestões</p>
					</div>
				</div>
			</center>
		</div>
	</body>
</html>