<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>De Olho no Condomínio</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/css.css')}}" />
        <link rel="icon" type="image/png" href="{{url_for('static',filename='img/fav.png')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static',filename='css/W3.css')}}">
        <meta charset="UTF-8">
        <script src="{{url_for('static',filename='js/jquery-3.7.0.js')}}"></script>
        <script src="{{url_for('static',filename='js/js.js')}}"></script>
    </head>
    <body style="background-color: #424242;">
        <div id="nav">
            <p class="menu texto">De Olho no Condomínio</p>
        </div>
        <div class="corpo">

            <div class="box">
                <form action="/log" method="POST">
                    <label for="login">Login:</label>
                    <br>
                    <input id="login" name="login" type="text"></input>
                    <br>
                    <br>
                    <label for="senha">Senha:</label>
                    <br>
                    <input id="senha" name="senha" type="password"></input>
                    <br>
                    <a href="/recuperar">Esqueci minha senha</a>
                    <a href="/cadastrar" style="float: right;">Cadastre-se</a>
                    <br>
                    <br>
                    <button type="submit">Login</button>
                </form>
            </div>
        </div>
    </body>
</html>
