<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>De Olho no Condomínio</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/css.css') }}" />
        <link rel="icon" type="image/png" href="{{ url_for('static',filename='img/fav.png') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/W3.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/FontAwesome4.7.0.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.min.css" />
        <meta charset="UTF-8">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.min.js"></script>
        <script src="{{ url_for('static',filename='js/jquery-3.7.0.js') }}"></script>
        <script src="{{ url_for('static',filename='js/js.js') }}"></script>
        <script>
            $(document).ready(function() {
                    var coord = "{{ chamado.cord }}";
                    var set = "-23.1812991, -46.8829011";
                    var marker = null;
                    
                    if (coord != "") {
                        set = coord;
                    }
                    
                    var latLng = set.split(", ");
                    var lat = parseFloat(latLng[0]);
                    var lon = parseFloat(latLng[1]);
                    var map = L.map('map').setView([lat, lon], 20);

                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
                    maxZoom: 18
                }).addTo(map);

                if (coord != "") {
                    var coordLatLng = L.latLng(lat, lon);
                    marker = L.marker(coordLatLng, { draggable: false }).addTo(map);
                }

                function onMapClick(e) {
                    if (coord == "") {
                        if (marker) {
                            marker.setLatLng(e.latlng);
                        } else {
                            marker = L.marker(e.latlng, {
                                draggable: true
                            }).addTo(map);
                        }
                        $('#coordenadas').val(e.latlng.lat + ", " + e.latlng.lng);
                    }
                }
                map.on('click', onMapClick);

                function onZoomChange(e) {
                    $('#coordenadas').val(map.getCenter().lat + ", " + map.getCenter().lng);
                }
                map.on('zoomend', onZoomChange);
                onZoomChange();
            });

            function home(){
                var UsTipo = "{{ usu.tipo }}";
                var botao = document.getElementById('btnchamados');

                if (UsTipo == '1'){
                    window.location.href = '/chamados';
                }else{
                    window.location.href = '/home';
                }
            }

            function direciona(){
                var UsTipo = "{{ usu.tipo }}";
                
                if (UsTipo == '1'){
                    window.location.href = '/confirmar';
                }else{
                    window.location.href = '/chamados';
                }
            }

            function btndireciona(){
                var UsTipo = "{{ usu.tipo }}";
                var botao = document.getElementById('btnchamados');

                if (UsTipo == '1'){
                    botao.innerText = 'Cadastros';
                }
            }
            window.onload = btndireciona;

            document.addEventListener("DOMContentLoaded", function() {
                const imgs = document.querySelectorAll(".usr");
                const usrname = "{{ usu.nome_completo }}"; 

                function hashString(str) {
                    let hash = 0;
                    for (let i = 0; i < str.length; i++) {
                        hash = (hash << 5) - hash + str.charCodeAt(i);
                        hash |= 0;
                    }
                    return hash;
                }
                const hash = hashString(usrname);
                const number = (Math.abs(hash) % 6) + 1;

                imgs.forEach(img => {
                    const currentSrc = img.getAttribute("src");
                    const newSrc = currentSrc.replace(/(\d+)\.jpg/, `${number}.jpg`);
                    img.setAttribute("src", newSrc);
                });
            });
        </script>
    </head>
    <body>
        <div id="nav">
            <i class="fa fa-bars menu" id="toggleButton"></i>
            <a onclick="home()"><p class="menu texto">De Olho no Condomínio</p></a>
            <div class="navusr">
                <a onclick="logoff()">
                    <h5>{{ usu.nome_completo }}</h5>
                    <img class="usr" src="{{ url_for('static', filename='img/6.jpg') }}">
                </a>
            </div>
        </div>
        <div class="barralateral">
			<div class="brins">
				<center>
				<h3>Gerenciar Perfil</h3>
				<br>
				<img class="usr" src="../static/img/6.jpg">
				<h4 id="nomeusr">{{ usu.nome_completo }}</h4>
				<h4 id="ap">{{ usu.endereco }}</h4>
				<form id="edteml" action="/ema?idU={{usu.id}}" method="POST">
					<input id="email" type="email" name="ema" placeholder="email@email.com" value="{{ usu.email }}" autocomplete="off" readonly><a id="editaemail" onclick="editaremail()">Editar</a>
				</form>
				<form id="edttel" action="/tel?idU={{usu.id}}" method="POST">
					<input type="tel" class="form-control" id="tel" name="tel" maxlength="15" pattern="\(\d{2}\)\s*\d{5}-\d{4}" placeholder="(99)99999-9999" value="{{ usu.telefone }}" autocomplete="off" readonly><a id="editatel" onclick="editartel()">Editar</a>
				</form>
				<div class="menubottom" style="box-sizing: content-box; margin-top: 230px;">
					<div id="opcoes" class="hidden">
						<form id="pwdedt" action="/pas?idU={{usu.id}}" method="POST" style="box-sizing: content-box;">
							<center>
								<input id="senhaant" name="senhaant" type="password" placeholder="Senha antiga">
								<br>
								<input id="senhanov" name="senhanov" type="password" placeholder="Nova senha">
								<br>
								<input id="senhaconf" name="senhaconf" type="password" placeholder="Confirme a senha">
							</center>
							<br>
							<div style="display: inline-block; width: 320px; margin: 0 10px;">
								<div style="float: left; width: 45%;">
									<button id="cancelar" style="width: 100%;">Cancelar</button>
								</div>
								<div style="float: right; width: 45%;">
									<button id="confirmar" style="width: 100%;" onclick="valida()">Confirmar</button>
								</div>
							</div>
							<br>
							<br>
						</form>
					</div>
					<div id="altse" style="padding-top: 55px;">
						<center>
							<button onclick="direciona()" id="btnchamados">Chamados</button>
							<br>
							<button id="alterar">Alterar senha</button>
							<br>
							<button onclick="excluir()">Excluir perfil</button>
							<br>
							<br>
						</center>
					</div>
				</div>
			</div>
		</div>
		<div class="barralateralbg">
        </div>
        <div class="corpo">
            <center>
                <h4 class="titulo">Abrir Chamado - {{ Tipochamado }}</h4>
            </center>
            <br>
            <div style="display: inline-block; width: 100%;">
                <form id="pg" action="/rep" method="POST">
                    <div class="campos">
                        <div class="input-container">
                            <label for="local">Unidade (local): </label>
                            <input id="local" type="text" name="local" value="{{ chamado.local }}" required>
                        </div>
                    </div>
                    <div style="margin-bottom: 20px;">
                        <div style="float: left; width: 48%;">
                            <center>
                                <h6>Mapa</h6>
                            </center>
                            <div id="map" style="height: 65vh; width: 100%; border: solid 1px gray; border-radius: 8px;"></div>
                        </div>
                        <div style="float: right; width: 48%;">
                            <center>
                                <h6>Descrição</h6>
                            </center>
                            <textarea id="desc" name="descricao" style="width: 100%; height: 65vh;"  required>{{ chamado.descricao }}</textarea>
                            <br>
                            <input type="text" name="autor" value="{{usu.nome_completo}}" style="display: none;">
                            <div id="divbtncham" style="float: right; display: none;">
                                <button id="btnchamado" type="submit" style="margin: 30px 0px 30px 0px;">Abrir Chamado</button>
                            </div>
                        </div>
                    </div>
                    <div style="display: none;">
                        <label for="coordenadas">Coordenadas:</label>
                        <input type="text" id="coordenadas" name="coordenadas" style="width: 85%;" readonly>
                        <input type="text" id="data" name="data" style="width: 85%;" readonly>
                        <script>
                            // Função para obter a data formatada do servidor Node.js
                            async function fetchDate() {
                                try {
                                    const response = await fetch('http://localhost:3000/get-date');
                                    const data = await response.json();
                                    document.getElementById('data').value = data.date;
                                } catch (error) {
                                    console.error('Erro ao obter a data:', error);
                                }
                            }
                            // Chama a função ao carregar a página
                            window.onload = fetchDate;
                        </script>
                    </div>
                    <br>
                </form>
            </div>
            <div id="feed" style="display: none;">
                <br>
                <form id="fd" action="/feed" method="POST">
                    <br>
                    <center>
                        <label for="feedback">Feedback</label>
                    </center>
                    <br>
                    <textarea type="text" id="feedback" name='feedback'required>{{ chamado.feedback }}</textarea>
                    <br>
                    <input type="text" name="idC" value="{{chamado.id}}" style="display: none;">
                    <input type="text" name="situ" value="Tratado" style="display: none;">
                    <br>
                    <div id="divbtntrat" style="display: none;">
                        <button id='btnfeedback' type='submit'>Enviar Feedback</button>
                        <br>
                        <br>
                    </div>
                </form>
            </div>
            <script>
                function adm() {
                    const feed = document.getElementById("feed");
                    const tratar = document.getElementById("divbtntrat");
                    const cham =  document.getElementById("divbtncham");
                    var fdbk = document.getElementById("feedback").textContent;
                    var UsTipo = "{{ usu.tipo }}";
                    var local = "{{ chamado.local }}";

                    if (UsTipo == '1'){
                        feed.style.display = "block";
                        document.getElementById('desc').readOnly = true;
                        document.getElementById('local').readOnly = true;

                        if (fdbk == null || fdbk == ''){
                            tratar.style.display = "block";
                        }else{
                            document.getElementById('feedback').readOnly = true;
                        }

                    }else{

                        if (fdbk == null || fdbk == '' && local == null || local == ''){
                            cham.style.display = "block";
                        }else if(fdbk != null && fdbk != ''){
                            feed.style.display = "block";
                            document.getElementById('desc').readOnly = true;
                            document.getElementById('local').readOnly = true;
                            document.getElementById('feedback').readOnly = true;
                        }
                        
                    }
                }
                window.onload = adm;
            </script>
        </div>
    </body>
</html>