<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>De Olho no Condomínio</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/css.css')}}" />
    <link rel="icon" type="image/png" href="{{url_for('static', filename='img/fav.png')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='css/W3.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/FontAwesome4.7.0.css')}}">
    <meta charset="UTF-8">
    <script src="{{url_for('static', filename='js/jquery-3.7.0.js')}}"></script>
    <script src="{{url_for('static', filename='js/js.js')}}"></script>
</head>
<body>
<div id="nav">
    <i class="fa fa-bars menu" id="toggleButton"></i>
    <a href="/home"><p class="menu texto">De Olho no Condomínio</p></a>
    <div class="navusr">
        <a onclick="logoff()">
            <h5>{{ usu.nome_completo }}</h5>
            <img class="usr" src="../static/img/6.jpg">
        </a>
    </div>
</div>
<div class="barralateral">
    <center>
    <h3>Gerenciar Perfil</h3>
    <br>
    <img class="usr" src="../static/img/6.jpg">
    <h4 id="nomeusr">{{ usu.nome_completo }}</h4>
    <h4 id="ap">{{ usu.endereco }}"</h4>
    <input id="email" type="email" placeholder="email@email.com" value="{{ usu.email }}" autocomplete="off" readonly>
    <br>
    <br>
    <input type="tel" class="form-control" id="tel" name="tel" maxlength="15" pattern="\(\d{2}\)\s*\d{5}-\d{4}" placeholder="(99)99999-9999" value="{{ usu.telefone }}" autocomplete="off" readonly>
        <div class="menubottom">
            <div id="opcoes" class="hidden">
                <div style="position: fixed; bottom: 30px;">
                    <form>
                        <input id="senhaant" type="password" style="margin: 0px 0px 0px 50px;" placeholder="Senha antiga" required>
                        <br>
                        <input id="senhanov" type="password" style="margin: 15px 0px 0px 50px;" placeholder="Nova senha" required>
                        <br>
                        <input id="senhaconf" type="password" placeholder="Confirme a senha" required><a id="confirmar" style="text-decoration: none;">Confirmar</a>
                        <br>
                        <br>
                    </form>
                    <a id="cancelar">Cancelar</a>
                </div>
            </div>
            <div id="altse">
                <center>
                    <a href="/chamados">Chamados</a>
                </center>
            </div>
        </div>
    </div>
    <div class="barralateralbg">
    </div>
    <div class="corpo">
        <center>
            <h4 class="titulo">Abrir Solicitação</h4>
        </center>
        <br>
        <br>
        <form action="/noti" method="POST">
            <div class="campos">
                <div class="input-container">
                    <label for="destinatario">Unidade (local): </label>
                    <input type="text" id="destinatario" name="local" value="{{ chamado.local }}" required>
                </div>
                <br>
                <div class="input-container">
                    <label for="dataprevista">Data prevista: </label>
                    <input type="text" id="dataprevista" name="dataprevista" value="{{ chamado.dataprevista }}" required>
                </div>
            </div>
            <br>
            <br>
            <center>
                <label for="desc">Descrição</label>
            </center>
            <br>
            <br>
            <textarea type="text" id="desc" name="descricao" required>{{ chamado.descricao }}</textarea>
            <br>
            <input type="text" name="autor"   style="display: none;" value="{{usu.nome_completo}}">
            <br>
            <div id="divbtncham" style="display: none;">
                <button id="btnchamado" type="submit">Abrir Chamado</button>
            </div>
        </form>
        <br>
        <div id="feed" style="display: none;">
            <br>
            <br>
            <form id="fd" style="width: 100%;" action="/feed" method="POST">
                <center>
                    <label for="feedback">Feedback</label>
                </center>
                <br>
                <textarea type="text" id="feedback" name='feedback'required>{{ chamado.feedback }}</textarea>
                <br>
                <input type="text" name="idC" value="{{chamado.id}}" style="display: none;">
                <input type="text" name="situ" value="Tratado" style="display: none;">
                <br>
                <input type="text" name="idC" value="{{chamado.id}}" style="display: none;">
                <input type="text" name="situ" value="Tratado" style="display: none;">
                <br>
                <div id="divbtntrat" style="display: none;">
                    <button id='btnfeedback' type='submit'>Enviar Feedback</button>
                    <br>
                    <br>
                </div>
            </form>
        </div>
        <script>
            function adm() {
                const feed = document.getElementById("feed");
                const tratar = document.getElementById("divbtntrat");
                const cham =  document.getElementById("divbtncham");
                var fdbk = document.getElementById("feedback").textContent;
                var UsTipo = "{{ usu.tipo }}";

                if (UsTipo == '1'){
                    feed.style.display = "block";
                    document.getElementById('desc').readOnly = true;
                    document.getElementById('local').readOnly = true;
                    document.getElementById('dataprevista').readOnly = true;
                    if (fdbk == null || fdbk == ''){
                        tratar.style.display = "block";
                    }
                }else{
                    if (fdbk == null || fdbk == ''){
                        cham.style.display = "block";
                    }else{
                        feed.style.display = "block";
                        document.getElementById('desc').readOnly = true;
                        document.getElementById('local').readOnly = true;
                        document.getElementById('dataprevista').readOnly = true;
                    }
                }
            }

            window.onload = adm;
        </script>
    </div>
</body>
</html>
