<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>De Olho no Condomínio</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/css.css')}}" />
    <link rel="icon" type="image/png" href="{{url_for('static', filename='img/fav.png')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='css/W3.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/FontAwesome4.7.0.css')}}">
    <meta charset="UTF-8">
    <script src="{{url_for('static', filename='js/jquery-3.7.0.js')}}"></script>
    <script src="{{url_for('static', filename='js/js.js')}}"></script>
</head>
<body>
<div id="nav">
    <i class="fa fa-bars menu" id="toggleButton"></i>
    <a href="/home"><p class="menu texto">De Olho no Condomínio</p></a>
    <div class="navusr">
        <a onclick="logoff()">
            <h5>{{ usu.nome_completo }}</h5>
            <img class="usr" src="../static/img/6.jpg">
        </a>
    </div>
</div>
<div class="barralateral">
    <center>
    <h3>Gerenciar Perfil</h3>
    <br>
    <img class="usr" src="../static/img/6.jpg">
    <h4 id="nomeusr">{{ usu.nome_completo }}</h4>
    <h4 id="ap">{{ usu.endereco }}"</h4>
    <input id="email" type="email" placeholder="email@email.com" value="{{ usu.email }}" autocomplete="off" readonly>
    <br>
    <br>
    <input type="tel" class="form-control" id="tel" name="tel" maxlength="15" pattern="\(\d{2}\)\s*\d{5}-\d{4}" placeholder="(99)99999-9999" value="{{ usu.telefone }}" autocomplete="off" readonly>
        <div class="menubottom">
            <div id="altse">
                <center>
                    <a href="/chamados">Chamados</a>
                </center>
            </div>
        </div>
    </div>
    <div class="barralateralbg">
    </div>
    <div class="corpo">
        <center>
            <h4 class="titulo">Sugestão</h4>
        </center>
        <br>
        <br>
        <form action="/sugestao" method="POST">
            <div class="campos">
                <div class="input-container">
                    <label for="destinatario">Tema: </label>
                    <input type="text" id="destinatario" name="tema" value="{{ tema }}" required>
                </div>
                <br>
                <div class="input-container">
                    <label for="dataprevista">Data: </label>
                    <input type="text" id="data" name="data" value="{{ data }}" required>
                </div>
            </div>
            <br>
            <br>
            <center>
                <label for="mensagem">Descrição</label>
            </center>
            <br>
            <br>
            <textarea type="text" id="mensagem" name="desc" value="{{ descri }}" required></textarea>
            <br>
            <br>
            <button id="btnchamado" type="submit">Abrir Sugestão</button>
        </form>
        <br>
    </div>

    <!-- Chama o bloco do feedback -->
    {{ feedback }}

</body>
</html>
